@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200&display=swap');
* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #b3b3b3;
    font-family: 'poppins',sans-serif;
}
html{
    overflow: hidden;
}
/* ---NAVBAR--- */
nav {
    background:#838383 ;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: #D0E4FF;
}
nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}
nav .bx-menu {
    color: #fff;
}
/* ---END NAVBAR--- */
/* ---JAM DIGITAL--- */
.jam-digital-malasngoding {
    left: 50px;
    top: 2px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
  }
  .kotak{
    align-items: center;
    float: left;
    padding: 5px;
  }
  .jam-digital-malasngoding p {
    color: #fff;
    float: right;
    font-size: 15px;
    text-align: center;
  }
  .titik{
    color: #fff;
    float: right;
    font-size: 15px;
    text-align: center;
  }
/* ---END JAM--- */
/* ---LOGIN FORM--- */
.login {
    position: absolute;
    width: 391px;
    height: 490px;
    left: 530px;
    top: 100px;
    box-shadow: 1px 1px 100px #129fc2;
    background: #ffffff;
    border-radius: 10px;
}
h1{
    text-align: center;
    font-family: 'poppins';
}

.mb-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    font-family: 'inter';
    font-size: 20px;
}
.mb-3 .form-control {
    width: 330px;
    height: 50px;
    border-radius: 15px;
}
.form-check {
    padding-left: 70px;
}
/* ---LOGIN FORM--- */
/* --- SIDEBAR --- */
#sidebar{
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: #11162D ;
    top:0;
    left: 0;
    height:100% ;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    z-index: 200;
    color: #fff;
}
#sidebar a img {
    margin-top:-15px ;
}
#sidebar.hide {
    max-width: 60px;
}
#sidebar.hide:hover {
    max-width: 100px;
}
#sidebar::-webkit-scrollbar{
    display: none;
}
#sidebar .brand{
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: #11162D;
    transition: all .3s ease;
    padding: 0 11px;
    text-decoration: none;
}
#sidebar .brand p {
    padding-left: 20px;
}

#sidebar .icon{
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
    filter: opacity(100%);
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}
#sidebar .side-menu{
    margin: 36px 0;
    padding: 0 20px ;
    transition: all .3s ease ;
}
#sidebar.hide .side-menu {
    padding: 0 6px;
}
#sidebar.hide:hover .side-menu{
    padding: 0 20px;
}
#sidebar .side-menu a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white ;
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    margin:4px 0;
    white-space: nowrap;
    text-decoration: none;
}
#sidebar .side-menu > li >  a:hover{
    background:#f1f0f6 ;
    border-radius: 10px;
    color: black;
}
#sidebar .side-menu > li > a.active .icon-right{
    transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu a.active:hover{
    background:grey;
    color: white;
    border-radius: 10px;
}
#sidebar .divider{
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: darkgray;
    transition: all .3s ease;
    white-space: nowrap;
}
/* --- END SIDEBAR --- */

/* ---CONTENT--- */
#content {
    position: absolute;
    width: calc(100% - 260px);
    left: 260px;
    transition: all .3s ease;
}
#sidebar.hide + #content {
    width: calc(100% - 60px);
    left: 60px;
}
#sidebar.hide .side-menu li span {
    display: none;
}
/* ---END CONTENT--- */
/* --- MAIN --- */
main {
    width: 100%;
    padding: 20px 20px 20px 20px;
    overflow-y: scroll;
    height: 100vh;
}

main .info-data {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

main .info-data .card {
    padding: 5px;
    border-radius: 10px;
    background: #454C73;
    box-shadow: 2px 2px 2px #1d2727;
}

main .card .head {
    color: #fff;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

main .card .head h2 {
    font-size: 28px;
    font-weight: 600;
    position: relative;
    top: 29px;
}

main .card .head .icon {
    font-size: 70px;
    opacity: calc(70%);
}

main .card .head .icon {
    color: #fff;
    float: right;
    position: relative;
    bottom: 45px;
}
/* ---MAIN KEHADIRAN--- */
main .keterangan-card {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}
main .keterangan-card .card {
    padding: 5px;
    border-radius: 10px;
    background: #454C73;
    box-shadow: 2px 2px 2px #1d2727;
}
main .keterangan-card .card .head {
    color: #fff;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
main .card .kehadiran h2 {
    font-size: 30px;
    font-weight: 600;
    position: relative;
    top: 29px;
}
main .card .kehadiran .icon {
    font-size: 40px;
    opacity: calc(40%);
}
main .card .kehadiran .icon {
    color: rgb(0, 0, 0);
    float: right;
    position: relative;
    bottom: 45px;
}
/* ---END MAIN--- */
#data-siswa {
    background-color: white;
    margin-right: 10px;
    border-radius: 5px;
}
.table-data {
    margin-right: 20px;
    margin-left: 20px;
}
.table {
    border-radius: 10px;
}
.click{
    position: relative;
    right: 47vh;
}
/* ---Tambah data--- */
.tambah_data {
    position: absolute;
    width: 95%;
    top: 80px;
    margin-right: 100px;
    background: #ffffff;
    border-radius: 10px;
}
.tambah_data .tb-dt {
    margin-left: 30px;
    margin-right: 70px;
}
.tambah_data .tb-dt label {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: bold;
}
.tambah_data .tb-dt input {
    border-radius: 10px;
}
/* ---End Tambah data--- */
/* ---ABSEN--- */
.absen {
    background-color: #e6e6e6;
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.absen btn {
    left: 100px;
}
/* ---EDIT--- */
.edit {
    width: 100%;
    height: 100%;
    background: #e6e6e6;
    border-radius: 10px;
}
